.checkoutProduct {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.checkoutProduct__image {
  max-width: 180px;
  object-fit: contain;
  height: 200px;
}

.checkoutProduct__info {
  margin-left: 20px;
  flex: 1;
}

.checkoutProduct__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.checkoutProduct__price {
  font-size: 16px;
  margin-bottom: 10px;
}

.checkoutProduct__rating {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.checkoutProduct__rating span {
  font-size: 18px;
}

.checkoutProduct__remove {
  font-size: 16px;
  color: #007185;
  cursor: pointer;
  transition: color 0.3s;
}

.checkoutProduct__remove:hover {
  color: #f08c00;
}
