.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.onclciking {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 20px;
  transition: transform 0.2s;
}

.onclciking:hover {
  transform: scale(1.1);
}

.onclciking2 {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.onclciking img:last-child {
  margin-top: 10px;
  transition: width 0.3s ease;
}
